{% extends "base.twig" %}
{% block title %}Acceso Denegado{% endblock %}
{% block head %}

{% endblock %}
{% block contentheader %}Acceso Denegado{% endblock %}
{% block content %}

		<section class="content">
			<!-- Main row -->
			<div class="row">
				<!-- Left col -->

				<section class="col-lg-12 text-center">
					<div class="callout callout-danger">
							<h4>No se ha podido mostrar la página que solicitó</h4>
							<p>La página a la que intenta acceder no existe o no se encuentra disponible.<br>
							Puede intentar <a href="#" onclick="window.history.go(-1); return false;">Volver a la página anterior</a> o ir a la <a href="{{siteUrl('/')}}">Página de inicio.</a></p>
								<p>Si está seguro que esta página debiese existir, puede escribir un email a notificando de la situación</p>
						</div>
				</section><!-- /.Left col -->
				<!-- right col (We are only adding the ID to make the widgets sortable)-->
			</div><!-- /.row (main row) -->

		</section><!-- /.content -->
{% endblock %}
